:root {
    --main_fg_color:
    rgb(237 236 238);
    --main_bg_color:
    rgb(30 36 47);
    /*=================================*/
    --main2_fg_color:
    rgb(228 149 69);
    --main2_bg_color:
    rgb(255 255 255);
    /*=================================*/
    --warn_prj_fg_color:
    rgb(255 114 92);
    --warn_prj_bg_color:
    rgb(21 28 33);
    --prj_bg_color:
    rgb(21 28 33);
    --prj_fg_color:
    rgb(255 209 51);
    /*=================================*/
    --warn_fg_color:
    rgb(255 29 140);
    --gray_fg_color:
    rgb(76 85 101);
    /*=================================*/
    --branch_warn_color:
    rgb(255 26 241);
    --branch_dirty_color:
    rgb(74 210 233);
    /*=================================*/
    --ok_fg_color:
    rgb(0 128 0);
    --alert_fg_color:
    rgb(255 105 51);
}
