# Цвета
color.background.dark=37;38;41
color.background.light=62;63;67

color.text.normal=248;245;221
color.text.dim=148;145;121

color.status.success=0;128;0
color.status.error=255;105;51

color.path.normal=253;178;27
color.path.readonly=253;63;27
color.path.special=27;133;253

color.prompt.normal=253;178;27
color.prompt.warning=253;81;27

# Шрифт
font.name=
font.size=14

# Другие настройки

# Временные пороги (в секундах)
# Показывать время выполнения если больше этого значения
time.show_threshold=7

# для корректной работы требуется перевод строки в конце файла
